
.NavbarLink{
  text-decoration: none;
  margin-right: 10px;
  color: rgb(220, 220, 220);
  font-weight: 700;
  font-size: 1.2em;
}

.btnHome{
  /*width: 100vw;*/
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #6c757d;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c757d;
}



.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelFileInp{
  /*border: 1px solid #dc3545;*/
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  color: #0d6efd;
  /*background-color: #dc3545;*/
  border: 1px solid #0d6efd;
  font-size: 1.2em;
  border-radius: 5px;
  font-weight: 600;
}
.btnCancelar{
  line-height: 1em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dc3545;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  font-size: 3em;
}





.telaCarregamento{
  /*width: 100vw;
  height: 100vh;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-weight: 700;
  font-size: 1.2em;
  z-index: 999999;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #FFF;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}





.cardAssociado{
  font-size: 0.9em;
  padding: 10px;
}
.card-subtitle{
  line-height: 1.1em;
  padding-bottom: 8px;
}
.inadimplente, .liberado{
  color: #FFF;
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}
.inadimplente{
  background-color: #dc3545;
}
.liberado{
  background-color: #198754;
}



.cameraFeedContainer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 997;
  display: flex;
  transition: all 0.5s ease;
  flex-direction: column;
}
.hideCameraFeed{
  opacity: 0;
  transform: translate(0, 100px);
}
.cameraFeed{
  border-radius: 5px;
  width: 400px;
}
.pictureTimer{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 10px;
  background: #dc3545;
  animation: scale-up-hor-left 2.3s linear infinite both;
}
@keyframes scale-up-hor-left {

  0% {
    opacity: 0;
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
}



.toastCustom{
  transition: 0.5s all ease;
  position: fixed;
  bottom: 20px;
}
.toastHide{
  opacity: 0;
  transform: translate(0, 50%);
}